@import 'colors-waybar.css';
/*@define-color frame-color @color1;*/
@define-color frame-color transparent;
@define-color active-button-color @color2;
@define-color background-color alpha(@background, 0.6);
@define-color font-color @foreground;
@define-color button-color @color3;
@define-color active-button-color @color1;

/*@define-color frame-color rgba(104, 53, 186, 0.8);
@define-color active-button-color #8db600;
 */

* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: CaskaydiaCove Nerd Font,FontAwesome;
    font-size: 14px;
    min-height: 18px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

window#waybar {
    /*background: transparent;*/
    background: @background-color;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
    background-color: @background-color;
	border: 1px solid @frame-color;
}

#workspaces {
	/*margin: 0px 3px 0px 3px;*/
	margin: 0px 3px 0px 3px;
	/*padding: 0px 8px 0px 8px;*/
	padding: 0px 8px 0px 0px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#workspaces button {
	margin: 4px 3px 4px 3px;
	padding: 0px 0px 0px 0px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(142, 142, 142, 0.8);*/
    background-color: @button-color;
	border: 1px solid @button-color;
}

#workspaces button.active {
	margin: 2px 3px 2px 3px;
	padding: 0px 0px 0px 0px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    /*background-color: rgba(104, 53, 186, 0.8);*/
    background-color: @active-button-color;
    /*background-color: rgba(176, 219, 89, 0.8);*/
	/*border: 1px solid #6835ba;*/
	border: 1px solid @active-button-color;
}

#keyboard-state {
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#clock {
	margin: 0px 0px 0px 0px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 0px 0px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#custom-weather {
	margin: 0px 3px 0px 0px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 0px 10px 10px 0px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#custom-volume {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#custom-saveImg {
	margin: 0px 0px 0px 3px;
	padding: 0px 6px 0px 10px;
    /*border-radius: 10px 0px 0px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#custom-nextImg {
	margin: 0px 3px 0px 0px;
	padding: 0px 16px 0px 0px;
    /*border-radius: 0px 10px 10px 0px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#network {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#cpu {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#memory {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#temperature {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#battery {
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-gpu {
	margin: 0px 3px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

#tray {
	/*margin: 0px 3px 0px 3px;*/
	margin: 0px 0px 0px 3px;
	padding: 0px 16px 0px 16px;
    /*border-radius: 10px 10px 10px 10px;*/
    transition: none;
    color: @font-color;
    /*background-color: rgba(48, 42, 58, 0.8);*/
	background-color: @background-color;
	border: 1px solid @frame-color;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
