* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: CaskaydiaCove Nerd Font,FontAwesome;
    font-size: 22px;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
	padding: 10px 5px 10px 5px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}

#workspaces button {
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
    border-right: 3px solid #572d9b;
}

#clock {
	padding: 10px 5px 10px 5px;
    border-radius: 10px 10px 10px 10px;
    transition: none;
    color: #cccccc;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}

#custom-volume {
	padding: 10px 5px 10px 5px;
    border-radius: 10px;
	margin-bottom: 10px;
    transition: none;
    color: #cccccc;
    background: #9a9c89;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}

#cpu {
	padding: 10px 5px 10px 5px;
	margin-bottom: 10px;
    border-radius: 10px;
    color: #cccccc;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}

#network {
	padding: 10px 5px 10px 5px;
	margin-bottom: 10px;
    border-radius: 10px;
    color: #cccccc;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}

#tray {
	padding: 10px 5px 10px 5px;
	margin-top: 10px;
    border-radius: 10px;
    color: #cccccc;
    background-color: rgba(48, 42, 58, 0.8);
	border: 1px solid #572d9b;
}
